header{
    background: linear-gradient(to right,#ffb2f2,#5454ff);
    height: 100px;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-family: cursive;
    color: rgb(160, 0, 0);
}